---
layout: default
---

<table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
  <tr style="padding:0px">
    <td style="padding:0px">
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
        <tr style="padding:0px">
          <td style="padding:2.5%;width:63%;vertical-align:middle">
            <p class="name" style="text-align: center;">
              {{ site.data.about.name }}
            </p>
            <div id="intro-container">
              {% assign paragraphs = site.data.about.intro | newline_to_br | split: '<br />' %}
              {% for paragraph in paragraphs %}
                {% if paragraph != '' %}
                  <p>{{ paragraph }}</p>
                {% endif %}
              {% endfor %}
            </div>
            <p style="text-align:center">
              {% for link in site.data.about.links %}
                [<a href="{{ link.url }}" target="_blank">{{ link.title }}</a>]
              {% endfor %}
            </p>
          </td>
          <td style="padding:2.5%;width:37%;max-width:37%">
            <img style="width:100%;max-width:100%;object-fit: cover;" alt="profile photo" src="images/photo.jpg">
          </td>
        </tr>
      </tbody></table>
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          <tr>
          <td style="padding:16px;width:100%;vertical-align:middle">
            <h2>Research</h2>
            <div id="research-overview">
              {{ site.data.research.overview | markdownify }}
            </div>
          </td>
        </tr>
      </tbody></table>
      
      <!-- Publications section -->
      {% for pub in site.data.research.publications %}
      <table style="width:100%;border:0px;border-spacing:0px 10px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
        <tr>
          <td style="padding:16px;width:40%;vertical-align:middle">
            <a href="images/{{ pub.image }}" target="_blank">
              <img src="images/{{ pub.image }}" class="project-image" style="width:100%;max-width:100%;object-fit:cover;">
            </a>
          </td>
          <td style="padding:8px;width:60%;vertical-align:middle">
            <span class="papertitle">{{ pub.title }}</span>
            <br>
            {{ pub.authors }}
            <br>
            <em>{{ pub.venue }}</em>, {{ pub.year }}
            <br>
            <div style="margin:10px 0;">
              {% for link in pub.links %}
                <a href="{{ link.url }}" target="_blank" class="publication-link{% if forloop.index > 1 %} ml8{% endif %}" style="background:{{ link.color }};">
                  {{ link.title }}
                </a>
              {% endfor %}
            </div>
          </td>
        </tr>
      </tbody></table>
      {% endfor %}
          </td>
        </tr>
      </tbody></table>
    <div style="text-align:center; margin-top: 32px; font-size: 15px;">
      &copy; <span style="color:#888">Derin Gezgin</span><br>
      <a href="https://github.com/jonbarron/jonbarron.github.io" target="_blank" style="color:#888">credits</a>
    </div>
  </body>
</html>
