<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>{{ page.name }}</title>

    <meta name="author" content="Derin Gezgin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Latin+Modern+Roman:wght@400;700&display=swap">
    
  </head>

  <body>
    <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
      <tr style="padding:0px">
        <td style="padding:0px">
          <!-- Intro Section -->
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr style="padding:0px">
              <td style="padding:2.5%;width:63%;vertical-align:middle">
                <p class="name" style="text-align: center;">
                  {{ page.name }}
                </p>
                {{ page.intro_content }}
                <p style="text-align:center">
                  {% for link in page.links %}
                  [<a href="{{ link.url }}" target="_blank">{{ link.title }}</a>]
                  {% endfor %}
                </p>
              </td>
              <td style="padding:2.5%;width:37%;max-width:37%">
                <img style="width:100%;max-width:100%;object-fit: cover;" alt="profile photo" src="{{ page.profile_photo }}">
              </td>
            </tr>
          </tbody></table>
          
          <!-- Research Section -->
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
              <td style="padding:16px;width:100%;vertical-align:middle">
                <h2>Research</h2>
                {{ page.research_intro }}
              </td>
            </tr>
          </tbody></table>
          
          <!-- Research Projects -->
          <table style="width:100%;border:0px;border-spacing:0px 10px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            {% for project in page.projects %}
            <tr>
              <td style="padding:16px;width:40%;vertical-align:middle">
                <a href="{{ project.image }}" target="_blank">
                  <img src="{{ project.image }}" class="project-image" style="width:100%;max-width:100%;object-fit:cover;">
                </a>
              </td>
              <td style="padding:8px;width:60%;vertical-align:middle">
                <span class="papertitle" style="font-size: 18px; font-weight: 700; color: #00008B; display: block; margin-bottom: 5px;">{{ project.title }}</span>
                <br>
                {{ project.authors }}
                <br>
                <em>{{ project.publication }}</em>
                <br>
                <div style="margin:10px 0;">
                  {% for link in project.links %}
                  <a href="{{ link.url }}" target="_blank" style="background:{{ link.color }};color:#fff;padding:2px 10px;border-radius:5px;text-decoration:none;font-weight:500;font-size:0.97em;display:inline-block;{% if forloop.index > 1 %}margin-left:8px;{% endif %}">{{ link.title }}</a>
                  {% endfor %}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody></table>
        </td>
      </tr>
    </tbody></table>
    <div style="text-align:center; margin-top: 32px; font-size: 15px;">
      &copy; <span style="color:#888">Derin Gezgin</span><br>
      <a href="https://github.com/jonbarron/jonbarron.github.io" target="_blank" style="color:#888">credits</a>
    </div>
  </body>
</html> 